<div class="main" igxLayout>
    <igx-nav-drawer id="navigation" [isOpen]="drawerState.open" [(pin)]="drawerState.pin">
      <ng-template igxDrawer>
        <nav>
        <span igxDrawerItem [isHeader]="true">Go Game Cup</span>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material" name="{{ item.name }}"></igx-icon>
          <span>{{ item.text }}</span>
        </span>
    </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
        <nav>
          <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
            <igx-icon fontSet="material" name="{{ item.name }}"></igx-icon>
          </span>
      </nav>
      </ng-template>
  </igx-nav-drawer>
  <main igxFlex [class.mini-padding]="!drawerState.pin && drawerState.miniTemplate">
    <span igxButton="icon" igxToggleAction="navigation" [closeOnOutsideClick]="false">
      <igx-icon fontSet="material" name="menu"></igx-icon>
    </span>
    <!--INÍCIO CONTEÚDO AQUI-->
    <router-outlet></router-outlet>
    <!--FIM CONTEÚDO AQUI-->
  </main>
</div>













<!-- <app-sidebar></app-sidebar>

<main igxFlex>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
      </div>
      <div class="col-10 align-self-center">
        One of three columns
        <igx-card style="width: 100%;">
            <igx-card-header>
              <h3 class="igx-card-header__title">Meus Torneios</h3>
              <h5 class="igx-card-header__subtitle">Página Inicial</h5>
            </igx-card-header>
          </igx-card>
          <div class="row" style="height: 30px;"></div>
          <igx-card style="width: 100%;">
            <igx-card-content>
  
            </igx-card-content>
          </igx-card>
      </div>
    </div>
  </div>

</main> -->