<igx-card>
  <igx-card-header class="compact">
    <h3 class="igx-card-header__title">Bem vindo</h3>
    <h5 class="igx-card-header__subtitle">Faça login ou registre-se</h5>
  </igx-card-header>
  <igx-card-content>
    <form (ngSubmit)="logar()" #f="ngForm">
      <igx-input-group>
        <input igxInput name="email" type="email" [(ngModel)]="email"/>
        <label igxLabel for="email">Email</label>
      </igx-input-group>
      <igx-input-group>
        <input igxInput name="senha" type="password" [(ngModel)]="senha"/>
        <label igxLabel for="senha">Senha</label>
      </igx-input-group>
      <div class="row" style="margin-top:15px;">
        <button igxButton="raised" igxRipple="white" igxButtonBackground="#000" style="margin-right: 10px;" type="submit">Logar</button>
        <span igxButton="raised" igxRipple="white" igxButtonBackground="#000" (click)="registrar()">Registrar-se</span>
      </div> 
    </form>
  </igx-card-content>
</igx-card>