<!-- app.component.html -->
<div class="content-wrap">
  <igx-nav-drawer id="navigation" #drawer [isOpen]="true" pin="true">
    <ng-template igxDrawer>
      <nav>
        <igx-icon fontSet="material" name="home"></igx-icon>
        <span igxDrawerItem [isHeader]="true"> Usuário </span>
        <span igxDrawerItem igxRipple> Visualizar Torneios </span>
        <span igxDrawerItem igxRipple [active]="true"> Criar Novo Torneio </span>
        <span igxDrawerItem igxRipple> Apagar Torneio </span>
        <span igxDrawerItem igxRipple> Adicionar Participantes </span>
        <span igxDrawerItem igxRipple> Excluir Participantes </span>
        <span igxDrawerItem igxRipple> Gerar Partidas </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>
  <main>
    <span igxButton="icon" igxToggleAction="navigation" (click)="drawer.toggle()" >
      <igx-icon fontSet="material" name="menu"></igx-icon>
    </span>
  </main>
</div>