<div class="main" igxLayout>
  <igx-nav-drawer id="navigation" [isOpen]="drawerState.open" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Go Game Cup</span>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
          <igx-icon fontSet="material" name="{{ item.name }}"></igx-icon>
          <span>{{ item.text }}</span>
        </span>
    </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
        <nav>
          <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
            <igx-icon fontSet="material" name="{{ item.name }}"></igx-icon>
          </span>
      </nav>
      </ng-template>
  </igx-nav-drawer>
  <igx-navbar style="width: 100%;">
    <span igxButton="icon" igxToggleAction="navigation" [closeOnOutsideClick]="false">
      <igx-icon fontSet="material" name="menu"></igx-icon>
    </span>
  </igx-navbar>
</div>
