/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./bootstrap-grid.css');

html, body {
    height: 100%;
    min-height: 100%;
}

.pai {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.container, app-login, app-root {
    height: 100%;
    min-height: 100%;    
}

app-pagina-inicial {
    width: 100%;
}

@media (max-width: 576px) {
    main.mini-padding[_ngcontent-c1] {
        padding: 1rem calc(1rem + 60px);
        padding-top: 1rem;
        padding-right: calc(1rem);
        padding-bottom: 1rem;
        padding-left: calc(1rem + 60px);
    }
}
